.primary {
  border: none;
  background: var(--primary-bg);
  color: var(--primary-color);
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s;
}

.primary:hover {
  background: var(--primary-hover-color);
}

.primary:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: #42d9a2fe;
    --primary-hover-color: #3cc693;
    --primary-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #1fa071;
    --primary-hover-color: #197b57;
    --primary-color: #000;
  }
}
