.inputContent {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}

.inputLabel {
  color: var(--label-color);
  font-size: 14px;
}

.input {
  all: unset;
  height: 3rem;
  width: inherit;
  background: var(--input-bg);
  color: rgb(203, 210, 212);
  border-radius: 0.5rem;
  border: 1px var(--input-border-color) solid;
  padding: 0 14px;
}

.input::placeholder {
  color: var( --input-placeholder-color );
}

.input:focus {
  border: 1px var(--input-focus-color) solid;
}

@media (prefers-color-scheme: light) {
  :root {
    --label-color: rgba(92, 92, 92, 0.807);
    --input-bg: #fff;
    --input-border-color: #55595d5c;
    --input-placeholder-color: rgba(147, 151, 170, 0.73);
    --input-focus-color:  rgba(101, 104, 111, 0.726);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --label-color: rgba(158, 158, 158, 0.807);
    --input-bg: #24262d;
    --input-border-color: #55595d;
    --input-placeholder-color: rgb(147, 151, 170);
    --input-focus-color:  rgb(101, 104, 111);
  }
}
